body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
}

h1,
h2 {
  color: #2c3e50;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  padding: 0.5rem, 0;
}

label {
  display: block;
  margin: 5px 0;
  font-weight: bold;
}

input[type="text"] {
  width: 97%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submit"] {
  margin-top: 14px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for the Select component */
.select-container {
  width: 100%;
}

/* Modal styles */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 8px !important;
  padding: 20px !important;
  max-width: 400px !important;
  width: 90% !important;
}

/* Date picker styles */

.react-date-picker {
  width: 12rem;
}

.react-date-picker__inputGroup {
  margin-left: 0.5rem;
}

.react-date-picker__inputGroup__day {
  padding: 0 0.2rem;
}

.react-date-picker__inputGroup__month {
  padding: 0 0.2rem;
}

.react-date-picker__inputGroup__year {
  padding: 0 0.2rem;
}

.react-date-picker__wrapper {
  height: 2.5rem;
}

.react-date-picker__button {
  padding: 0 0.3rem;
}

.react-select_list {
  padding: 0.8rem 0;
}

/* Table styles*/

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.data-table th,
.data-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: white;
}

.data-table thead {
  background-color: #f4f4f4;
  color: #333;
}

.data-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data-table tbody tr:hover {
  background-color: #f1f1f1;
}

.data-table-pagination button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.data-table-pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.data-table-pagination select {
  margin-left: 10px;
  padding: 5px;
}
